{% extends "base.twig" %}

{% block content %}
    <div class="flex row prayer_info">
        {% for song in songs %}
            <div class="flex-item card audio-card-box {{ 'audio-box-' ~ song.box_song_id }}">
                <div>
                    <div class="card-title">
                        {{ song.prayer_name }}
                    </div>
                    <div class="card-body">
                        {{ song.prayer_time }}

                        <audio muted autoplay="true" id="{{ 'audio-box-' ~ song.box_song_id }}">
                            <source src="{{ song.audio_file_path }}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>

                        <button class="hidden button-audio"
                                data-target-audio="{{ 'audio-box-' ~ song.box_song_id }}"
                                data-prayer-datetime="{{ song.prayer_date ~ ' ' ~song.prayer_time }}">Play
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script>
      let now = null,
        date = null,
        audioButtons = null,
        prayerTime = null,
        targetCard = null,
        targetAudio = null,
        lastRefresh = '{{ last_refresh }}';

      setInterval(function () {
        // Today date (2 digit format)
        date = new Date;
        now = date.getFullYear()
          + '-' + ('0' + (date.getMonth() + 1)).slice(-2)
          + '-' + ('0' + date.getDate()).slice(-2);

        // It's new day, lets refresh our browser.
        if (lastRefresh !== now) {
          window.location.reload();
        }

        // Append time to today date (2 digit format).
        now = now
          + ' ' + ('0' + date.getHours()).slice(-2)
          + ':' + ('0' + date.getMinutes()).slice(-2)
          + ':' + ('0' + date.getSeconds()).slice(-2);

        // Loop through available audio button.
        audioButtons = document.getElementsByClassName('button-audio');
        for (let i = 0; i < audioButtons.length; i++) {
          prayerTime = audioButtons[i].getAttribute('data-prayer-datetime');

          if (2 === i) {
            console.log(prayerTime, 'vs', now);
          }

          // It is prayer time, find the correct audio.
          if (prayerTime === now) {
            // Get target audio card and it is audio element.
            targetAudio = audioButtons[i].getAttribute('data-target-audio');
            targetCard = document.getElementsByClassName(targetAudio);
            targetAudio = document.getElementById(targetAudio);

            // Remove "active" class from audio-card-box.
            let cards = document.getElementsByClassName('audio-card-box');
            for (let j = 0; j < cards.length; j++)
              cards[j].classList.remove('active');

            // Add class "active" to in progress audio-card-box prayer time.
            targetCard[0].classList.add('active');

            // Add click event listener to the audio button,
            // and trigger the click.
            audioButtons[i].addEventListener('click', function () {
              // Play the audio.
              targetAudio.muted = false;
              targetAudio.play();
            });

            {% if 'true' == autoPlay %}
                audioButtons[i].click();
            {% else %}
                // Show play button.
                audioButtons[i].classList.remove('hidden');
                // Hide play button after 10 minute.
                setTimeout(function() {
                  audioButtons[i].classList.add('hidden');
                }, {{ hideButtonTimer }});
            {% endif %}
          }
        }
      }, 1000);
    </script>
{% endblock %}