<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="{{ constant('BASE_URL') ~ '/css/app.css' }}" rel="stylesheet">
</head>
<body>
<div id="root">
    <div id="header">
        <div class="flex row">
            <div>
                Select Zone
            </div>

            <div style="margin-left: 15px;">
                <select onchange="changeZone(this)">
                    {% if zones %}
                    {% for zone in zones %}
                    <option {{ activeZone == zone ? 'selected' : '' }} value="{{ zone }}"
                    >{{ zone }}
                    <option>
                        {% endfor %}
                        {% endif %}
                </select>
            </div>
        </div>
    </div>

    <div id="body">
        {% block content %}
        {% endblock %}
    </div>

    <div id="loader">
        <div>
            <span>Please wait while loading...</span>
        </div>
    </div>
</div>

<script type="text/javascript">
  let loader = document.getElementById('loader');

  function changeZone(select) {
    window.location.href = '{{ basePage }}' + '/' + select.value;
  }

  function showLoader() {
    loader.classList.remove('hidden');
  }

  function hideLoader() {
    loader.classList.add('hidden');
  }

  // Hide loader when document on load.
  document.addEventListener("DOMContentLoaded", function (event) {
    hideLoader();
  });
</script>
{% block script %}
{% endblock %}
</body>
</html>